
.vs/Luciful/DesignTimeBuild/.dtbcache.v2
.vs/Luciful/FileContentIndex/362c9695-0fa2-4a57-af8e-f40f2e6364ee.vsidx
.vs/Luciful/FileContentIndex/64a58914-fcc8-44e6-a786-1c731a9cf6db.vsidx
.vs/Luciful/FileContentIndex/67481308-d955-44ec-926e-2750fbc8c56e.vsidx
.vs/Luciful/FileContentIndex/6a535a9d-88cf-4e3e-8905-ef67d519134d.vsidx
.vs/Luciful/FileContentIndex/6ac51fa1-c128-478e-a6b7-595042447c12.vsidx
.vs/Luciful/FileContentIndex/a9a270c7-8391-43be-b0df-3100e0d43733.vsidx
.vs/Luciful/FileContentIndex/d357c342-3070-4bbd-8926-5bc67716d64e.vsidx
.vs/Luciful/FileContentIndex/e9a61629-d10e-48c5-be64-32cf02f55eca.vsidx
.vs/Luciful/v17/.futdcache.v1
.vs/Luciful/v17/.suo
.vs/ProjectEvaluation/luciful.metadata.v2
.vs/ProjectEvaluation/luciful.projects.v2
obj/Debug/net6.0/Luciful.csproj.AssemblyReference.cache
.vs/Luciful/DesignTimeBuild/.dtbcache.v2
.vs/Luciful/v17/.futdcache.v1
.vs/Luciful/v17/.suo
obj/Debug/net6.0/Luciful.assets.cache
obj/Debug/net6.0/Luciful.csproj.AssemblyReference.cache
obj/Debug/net6.0/Luciful.GeneratedMSBuildEditorConfig.editorconfig
obj/Luciful.csproj.nuget.dgspec.json
obj/Luciful.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
